body {
    margin-top: 20rem;
}

h1 {
    text-align: center;
}

div {
    margin: 20rem 30rem;
    background-color: aqua;
    text-align: center;
}

input[type="password"] {
    margin-top: 0.2rem;
}
button {
    padding-top: 1%;
    margin-top: 0.2rem;
}
